body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  
  .card {
    width: 80%; /* Adjusted width */
    max-width: 400px; /* Added maximum width */
    height: auto;
    background-color: #181818;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  h2 {
    color: rgb(255, 255, 255);
  }
  
  h3 {
    color: rgb(182, 255, 47);
  }
  
  p {
    color: white;
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .button-container button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container button:last-child {
    margin-bottom: 0;
  }
  
  .button-container button:hover {
    background-color: #45a049;
  }
  
 
  @media only screen and (max-width: 600px) {
    .card {
      width: 90%; 
    }
  }
  