
body {
    background-color: black;
    color: turquoise;
    margin: 0;
}

.main-container {
    text-align: center;
    padding: 50px;
}

.content-container {
    margin-bottom: 20px; 
}

h1, h2 {
    font-size: 2em;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid turquoise;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    width: 100%;
}

button {
    background-color: turquoise;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(24, 153, 140);
}
